

.home-container {
    text-align: center;
  }
  
  .home-image {
    width: 500px;
    height: auto;
    margin-bottom: 20px;
    margin: 20px auto;
  }
  
  .home-description {
    max-width: 600px;
    margin: 0 auto;
  }
 
  
  
  
  
  